@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font: inherit;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #2d2f31;
    font-family: 'Roboto';
}